<body>
<h1>Dit spelletje heet: Raad het getal</h1>

<p>Geef een getal in van 0 tot 100</p>

<!-- <mat-form-field>
    <input matInput placeholder="gokje"
    type= "number"
    #waarde>
</mat-form-field> -->

<input [(ngModel)]="waarde">

<a *ngIf="counter!=0 || !guessed">
    <button mat-raised-button (click)="onSave()">Bevestig</button>
</a>
<p></p>

<div *ngIf="savedValue > randomNumber; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>te groot </ng-template>
<ng-template #elseBlock>
    <div *ngIf="savedValue < randomNumber; then thenBlock2 else elseBlock2"></div>
</ng-template>
<ng-template #thenBlock2>te klein</ng-template>
<ng-template #elseBlock2>
    <div>juist!
        <script>geraden()</script>
        <button mat-raised-button (click)= "startOver()">Nogmaals!</button>
    </div>    
</ng-template>

<p>
Je hebt nog {{secondsLocal}} seconden over
</p>
<div *ngIf="counter>0">Aantal beurten: {{counter}}</div>

<div *ngIf="counter==0; then thenCounter"></div>

<ng-template #thenCounter> 
    <div>Oeps, al je beurten zijn op. Het getal was: {{randomNumber}}
        <button mat-raised-button (click)= "startOver()">Nogmaals!</button>
    </div>
</ng-template>


</body>
